html{
  font-family: 'Poppins', sans-serif;
  background-image: url("Background.png");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  letter-spacing: 0.5px;
  font-weight: 500;
}



/* -------Header------- */
header {
  display: flex;
  flex-wrap: wrap;
  margin: 5VH 0 40px 5VH;
}

.firsttext {
  margin: 25px -15px -15px 35px;
  flex: 0 0 500px;
  color: white;
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: 800;
}

.firsttext p {
  margin-top: -15px;
  letter-spacing: 1px;
  font-weight: 300;
}

.logo {
  flex: 0 0 200px;
  margin: 25px 10px 25px 40px;
}


.whitebgdata {
display: flex;
justify-content: flex-start;
  background-color: white;
   border-radius: 10px;
  margin: 1rem 0 0 5rem;
  height: 50vh;
  width: 80vw;
}

/* -------Inputs------- */


input[type=text] {
  padding: 12px 10% 12px 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=date] {
  padding: 10px 0 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input[type=date]:hover {
  border-color: #333;
}

input[type=date]::-webkit-datetime-edit { padding: 0 15px 0 15px}

input[type=text]:hover {
  border-color: #333;
}

input[type=text]:focus {
  border-color: #333;
}

input[type=submit] {
  background: #bfcc30;
  border: 0 none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  font-weight: normal;
}

.search {
  padding: 12px 50px 12px 50px;
  margin: 0;
}

.search:hover {
  color: white;
  background-color: green;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 1rem;
}

.item {
  padding: 7px 15px 7px 15px;
}

.invoicenumber {
  margin: 1em 1.2em 1em 0.2em;
}

.searchbutton {
  margin: 70px 0 0 0;
}

/* -------Outputs------- */
.outputs {
  margin: 14em 12em 3em 0;
  color: grey;
  font-weight: lighter;
}

/* -------Footer------- */
footer {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 50px 0 60px;
  justify-content: flex-start;
  align-items: center;
}

.button {
  margin: 10px;
  padding: 10px 5px 10px 5px;

}

.accept {
  margin: 0 1rem 0 6rem;
  color: white;
}

.weaccept {
  margin: 10px 0 -3px 7px;
  font-size: 0.8em;
}

.mastercard {
  margin: 7px;
}

.meeza {
  margin: 7px ;
  padding-bottom: 2px;
}

.visa {
  margin: 7px;
  padding-bottom: 2px;
}

.links {
  margin: 45px 30px 5px 20px;
  display: inline-block;
  font-weight: 700;
}

.alllinks {
  margin: 0 0 0 100px;
}

a {
  color: white;
}

/* Responsive */
/* Responsive */
/* Responsive */

@media screen and (max-width: 767.98px) {

html{
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
  flex-wrap: wrap;
  margin: 3VH 0 0 0;
  justify-content: center;
  align-items: center;
}
.whitebgdata{
    flex-direction: column;
      height: auto;
      width: auto;
      margin: 0 10% 0 10%;
}
  .logo {
    margin: 0;
    justify-content: center;
  }
  .firsttext {
    margin: 5px 10px 5px 10px;
    flex: 0 0 75%;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
  }
  .inputs {

    margin: 0 0 0 5%;
    font-size: small;
  }

input[type=date]::-webkit-datetime-edit { padding: 0 8.5em 0 0; }




  .button {
    margin: 1em 0 0 0;
    padding: 10px 5px 10px 5px;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
  }
  .accept {
    margin: 0 20px 0 0;
    color: white;
    text-align: center;
  }

  .searchbutton {
    margin: 2em 0 0 0;
  }
  .outputs {
    text-align: center;
    color: grey;
    font-weight: lighter;
    font-size: small; }

    footer {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .links {
      margin: 20px 0 5px 0;
      padding: 9px;
      display: inline-block;
      font-weight: 700;
      font-size: 0.8em;
      text-align: center;
    }
    .alllinks {
      margin: 0;
      text-align: center;
    }
}
