html{
  font-family: 'Poppins', sans-serif;
  background-image: url("Background.png");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  letter-spacing: 0.5px;
  font-weight: 500;
}



/* -------Header------- */
.header {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 40px 40px;
}

.firsttext {
  margin: 25px -15px -15px 35px;
  flex: 0 0 500px;
  color: white;
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: 800;
}

.firsttext p {
  margin-top: -15px;
  letter-spacing: 1px;
  font-weight: 300;
}

.logo {
  flex: 0 0 200px;
  margin: 25px 10px 25px 40px;
}

.rc {
  margin: 0 10% -350px 65px;
  height: 500px;
  width: 85%;
}

.whitebgdata {
  z-index: 1;
}

/* -------Inputs------- */


input[type=text] {
  padding: 12px 90px 12px 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=date] {
  padding: 10px 10px 10px 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input[type=date]:hover {
  border-color: #333;
}

input[type=date]::-webkit-datetime-edit { padding: 0 5em 0 0; }

input[type=text]:hover {
  border-color: #333;
}

input[type=text]:focus {
  border-color: #333;
}

input[type=submit] {
  background: #bfcc30;
  border: 0 none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  font-weight: normal;
}

.search {
  padding: 12px 50px 12px 50px;
  margin: 0;
}

.search:hover {
  color: white;
  background-color: green;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  margin: -145px 0 0 100px;
}

.item {
  padding: 7px 15px 7px 15px;
}

.invoicenumber {
  margin: 1em 1.2em 1em 0.2em;
}

.searchbutton {
  margin: 70px 0 0 0;
}

/* -------Outputs------- */
.outputs {
  margin: 8em 12em 3em 0;
  text-align: center;
  color: grey;
  font-weight: lighter;
}

/* -------Footer------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 270px 50px 0 60px;
}

.button {
  margin: 10px;
  padding: 10px 5px 10px 5px;

}

.accept {
  margin: 0 20px 0 400px;
  color: white;
}

.weaccept {
  margin: 15px 0 -3px 7px;
  font-size: 0.8em;
}

.mastercard {
  margin: 7px;
}

.meeza {
  margin: 7px ;
  padding-bottom: 2px;
}

.visa {
  margin: 7px;
  padding-bottom: 2px;
}

.links {
  margin: 45px 30px 5px 20px;
  display: inline-block;
  font-weight: 700;
}

.alllinks {
  margin: 0 0 0 100px;
}

a {
  color: white;
}

/* Responsive */
@media screen and (max-width: 900px) {

html{
    background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1920px;

}
  .logo {
    margin: 0 10px 0 80px;
    text-align: center;
  }
  .inputs {
    flex-direction: column;
  }
input[type=date]::-webkit-datetime-edit { padding: 0 8.5em 0 0; }



  .rc {
    margin: 0 10% -500px 8%;
    height: 650px;
    width: 85%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 0 0;
  }
  .button {
    margin: 7em 0 0 0;
    padding: 10px 5px 10px 5px;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
  }
  .accept {
    margin: 0 20px 0 0;
    color: white;
    text-align: center;
  }

  .searchbutton {
    margin: 2em 0 0 0;
  }
  .outputs {
    margin: 8em 12em 3em 0;
    text-align: center;
    color: grey;
    font-weight: lighter;
    font-size: small; }

    .links {
      margin: 20px 0 5px 0;
      padding: 9px;
      display: inline-block;
      font-weight: 700;
      font-size: 0.8em;
      text-align: center;
    }
    .alllinks {
      margin: 0;
      text-align: center;
    }
}
